body {
    font-family: Arial, sans-serif;
    background-color: #151275;
    margin: 0;
    padding: 20px;
}

.button-island {
    background: rgb(10, 3, 79);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0; 
    margin-top: 100px; 
    cursor: pointer;
    transition: 0.3s; /* Add a transition effect */
}

.button-island:hover {
    background: rgb(15, 10, 90); /* Change color on hover */
}

p {
    font-size: 0.9rem; /* Increased paragraph font size */
    color: #c3bdbd;
    text-align: left; 
}
